<html>
<head>
    </head>
    
   <body>
<div class="container">
   
    <table class="table table-striped" *ngIf="usersinfo  && usersinfo.length > 0  ">
        <thead>
        <tr>
            <th>User ID</th>
            <th>User NAME</th>
            <th>Email</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersinfo" style="text-align: center;">
                <td><a [routerLink]="['/getuser',user.id]"> {{user.id}}</a> </td>
                <td> {{user.name}} </td>
                <td>{{user.email}}</td>
                <td>  <i class="fas fa-trash"(click) =deleteUser(user)></i> </td>
                <td><i class="fas fa-edit" (click)=updateUser(user)></i></td>
            </tr>
        </tbody>
    </table>

  
</div>
<div>

</div>
</body>
</html>
