<html>
<head>
    </head>
    
   <body>
<div class="container">
   
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>User ID</th>
            <th>User NAME</th>
            <th>Email</th>
            <th>Hno</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
            <tr  style="text-align: center;">
                <td>> {{user.id}} </td>
                <td> {{user.name}} </td>
                <td>{{user.email}}</td>
                <td>{{user.address.hno}}</td>
                <td>{{user.address.city}}</td>
            </tr>
        </tbody>
    </table>

  
</div>
<div>

</div>
</body>
</html>

